---
import BaseArabicLayout from "@layouts/BaseArabicLayout.astro";
import SwarmScene from "../components/ui/core/scenes/SwarmScene";
import { getCollection } from "astro:content";
import { generateExcerptFromMarkdown, getCategoryCounts, getTagCounts, getSeriesCounts } from "@lib/posts";
import { Sidebar } from "@components/ui/posts/Sidebar";
import { HeroParallax } from "@components/ui/hero-parallax";
import { PRODUCTS } from "@lib/data";
import MobileAppShowcase from "@components/ui/core/scenes/MobileAppShowcase";
import AnimatedPostList from "@components/ui/posts/AnimatedPostList";

const postsWithExcerpts = await Promise.all(
  (await getCollection("posts"))
    .filter((post) => !post.data.draft)
    .filter((post) => post.data.lang === "ar")
    .sort((a, b) => b.data.publishedAt.valueOf() - a.data.publishedAt.valueOf())
    .slice(0, 3)
    .map(async (post) => {
      const excerpt = await generateExcerptFromMarkdown(post.body ?? "", 160);
      return {
        ...post,
        excerpt
      };
    })
);

const categories = await getCategoryCounts();
const tags = await getTagCounts();
const series = await getSeriesCounts();
---
<BaseArabicLayout>
  <meta property="og:title" content="مدونة عبد الرحمن الغول" />
  <meta name="twitter:title" content="مدونة عبد الرحمن الغول" />
  <meta name="application-name" content="مدونة عبد الرحمن الغول" />

  <meta name="author" content="عبد الرحمن الغول" />
  <meta name="publisher" content="عبد الرحمن الغول" />
  <meta name="creator" content="عبد الرحمن الغول" />

  <meta property="og:site_name" content="مدونة عبد الرحمن الغول" />

  <meta name="description" content="مدونة للمطورين تهدف إلى أن تكون إبداعية، ملهمة و تعليمية، بالإضافة إلى إدراج مشاريعي." />
  <meta property="og:description" content="مدونة للمطورين تهدف إلى أن تكون إبداعية، ملهمة و تعليمية، بالإضافة إلى إدراج مشاريعي." />
  <meta name="twitter:description" content="مدونة للمطورين تهدف إلى أن تكون إبداعية، ملهمة و تعليمية، بالإضافة إلى إدراج مشاريعي." />

  <link rel="canonical" href="https://al-ghoul.github.io" />
  <meta property="og:url" content="https://al-ghoul.github.io" />

  <link rel="alternate" hreflang="ar" href="https://al-ghoul.github.io" />
  <link rel="alternate" hreflang="en" href="https://al-ghoul.github.io/en" />
  <!-- fallback entry point for all users whose preferred language doesn’t match ar or en. -->
  <link rel="alternate" hreflang="x-default" href="https://al-ghoul.github.io/en" />

  <meta property="og:locale" content="ar_AR" />
  <meta property="og:locale:alternate" content="en_US" />

  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="summary" />

  <meta property="og:image" content="https://al-ghoul.github.io/ar-og-image.png" />
  <meta property="og:image:width" content="1850" />
  <meta property="og:image:height" content="461" />
  <meta property="og:image:type" content="image/png" />

  <meta name="twitter:image" content="https://al-ghoul.github.io/ar-og-image.png" />

  <meta property="og:image:alt" content="صورة عرض مسبق لمدونة عبد الرحمن الغول" />
  <meta name="twitter:image:alt" content="صورة عرض مسبق لمدونة عبد الرحمن الغول" />

  <div class="fixed inset-0 -z-10">
    <SwarmScene client:only/>
  </div>

  <main class="min-h-screen" slot="body">
    <section class="flex flex-col md:flex-row container justify-center p-4 md:p-8 mx-auto mt-30 md:mt-20 gap-8">
      <div>
        <h1 class="text-3xl font-bold mb-6" dir="rtl">المقالات الأخيرة</h1>
        <div class="flex flex-col gap-4">
          <AnimatedPostList locale="ar" postsWithExcerpts={postsWithExcerpts} client:load />
        </div>
      </div>

      <Sidebar categories={categories} tags={tags} series={series} client:load />
    </section>

    <section>
      <HeroParallax products={PRODUCTS} client:load />
    </section>

    <section id="projects-section" class="relative w-full h-screen mt-20">
      <MobileAppShowcase client:load />
    </section>
  </main>
</BaseArabicLayout>
