---
import BaseEnglishLayout from "@layouts/BaseEnglishLayout.astro";
import SpaceBoyScene from "@components/ui/core/scenes/SpaceBoyScene";
import Timeline from "@components/ui/timeline";
import { getCollection, type CollectionEntry, } from 'astro:content';
import { cn } from "@lib/utils";
import type { Page } from "astro";
import type { GetStaticPaths } from "astro";

export async function getStaticPaths({ paginate }: Parameters<GetStaticPaths>[0]) {
  const posts = await getCollection("posts");
  const categories = [...new Set(posts.map(p => p.data.category.id))];
  const postsPerPage = 10;

  return categories.flatMap((category) => {
    const categoryPosts = posts.filter((p) => p.data.category.id === category)
    .filter((p) => !p.data.draft)
    .filter((p) => p.data.lang === "en");

    return paginate(categoryPosts, {
      params: { category }, // This ensures Astro.params.category is set
      pageSize: postsPerPage,
    });
  });
}

const { category } = Astro.params;
const page: Page<CollectionEntry<"posts">> = Astro.props.page;
const currentPagePosts = page.data;
const totalPages = page.lastPage;
const pageNumber = page.currentPage
---
<BaseEnglishLayout>
  <div class="min-h-screen">
    <div class="fixed inset-0 -z-10">
      <SpaceBoyScene client:only />
    </div>

    <main class="min-h-screen">
      {/* Content */}
      <section class="container mx-auto px-4 py-20">
        <h1 class="text-2xl md:text-4xl font-bold mb-8 capitalize">
          Posts in “{category}”
        </h1>

        <Timeline locale="en" data={currentPagePosts} client:only />

        <nav
          class="flex justify-center items-center gap-2 mt-12"
          aria-label="Pagination"
        >
          {pageNumber > 1 &&
          <a href={`/categories/${category}/${pageNumber - 1}`}
            class="px-3 py-1 rounded-md border bg-white dark:bg-black hover:bg-muted"
          >
            Prev
          </a>}

          <div class="flex gap-2">
            {Array.from({ length: totalPages }, (_, i) => {
              const pageNumber = i + 1;
              const isActive = pageNumber === page.currentPage;

              return (
                <a
                  href={isActive ? undefined : `/categories/${category}/${pageNumber}`}
                  class={cn(
                    "px-3 py-1 rounded-md border",
                    isActive
                      ? "bg-yellow-800 text-white dark:text-black cursor-not-allowed"
                      : "bg-white dark:bg-black hover:bg-muted"
                  )}
                >
                  {pageNumber}
                </a>
              );
            })}
          </div>

          {pageNumber < totalPages &&
            <a href={`/categories/${category}/${pageNumber + 1}`}
              class="px-3 py-1 rounded-md border bg-white dark:bg-black hover:bg-muted"
            >
              Next
            </a>}
        </nav>
      </section>
    </main>
  </div>
</BaseEnglishLayout>
