---
import BaseArabicLayout from "@layouts/BaseArabicLayout.astro";
import SpaceBoyScene from "@components/ui/core/scenes/SpaceBoyScene";
import Timeline from "@components/ui/timeline";
import { getCollection, type CollectionEntry, } from 'astro:content';
import { cn } from "@lib/utils";
import type { Page } from "astro";
import type { GetStaticPaths } from "astro";

export async function getStaticPaths({ paginate }: Parameters<GetStaticPaths>[0]) {
  const posts = await getCollection("posts");
  const postsPerPage = 10;

  const allTags = [
    ...new Set(
      posts.flatMap((p) =>
        p.data.tags?.map((t) => t.id.toLowerCase()) ?? []
      )
    ),
  ];

  return allTags.flatMap((tag) => {
    const tagPosts = posts
      .filter((p) =>
        p.data.tags?.some((t) => t.id.toLowerCase() === tag)
      )
      .filter((p) => !p.data.draft)
      .filter((p) => p.data.lang === "ar");

    return paginate(tagPosts, {
      params: { tag }, 
      pageSize: postsPerPage,
    });
  });
}

const { tag } = Astro.params;
const page: Page<CollectionEntry<"posts">> = Astro.props.page;
const currentPagePosts = page.data;
const totalPages = page.lastPage;
const pageNumber = page.currentPage
---
<BaseArabicLayout>
  <div class="min-h-screen">
    <div class="fixed inset-0 -z-10">
      <SpaceBoyScene client:only />
    </div>

    <main class="min-h-screen">
      {/* Content */}
      <section class="container mx-auto px-4 py-20">
        <h1 class="text-2xl md:text-4xl font-bold mb-8 capitalize" dir="rtl">
          مقالات في “{tag}”
        </h1>

        <Timeline data={currentPagePosts} client:only />

        <nav
          class="flex justify-center items-center gap-2 mt-12"
          aria-label="Pagination"
        >
          {pageNumber > 1 &&
          <a href={`/tags/${tag}/${pageNumber - 1}`}
            class="px-3 py-1 rounded-md border bg-white dark:bg-black hover:bg-muted"
          >
            السابق
          </a>}

          <div class="flex gap-2">
            {Array.from({ length: totalPages }, (_, i) => {
              const pageNumber = i + 1;
              const isActive = pageNumber === page.currentPage;

              return (
                <a
                  href={isActive ? undefined : `/tags/${tag}/${pageNumber}`}
                  class={cn(
                    "px-3 py-1 rounded-md border",
                    isActive
                      ? "bg-yellow-800 text-white dark:text-black cursor-not-allowed"
                      : "bg-white dark:bg-black hover:bg-muted"
                  )}
                >
                  {pageNumber}
                </a>
              );
            })}
          </div>

          {pageNumber < totalPages &&
            <a href={`/tags/${tag}/${pageNumber + 1}`}
              class="px-3 py-1 rounded-md border bg-white dark:bg-black hover:bg-muted"
            >
              التالي
            </a>}
        </nav>
      </section>
    </main>
  </div>
</BaseArabicLayout>
